/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #f8f8f8;
}


/* Header */
.header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
}

/* --- TOP HEADER --- */
.header-top {
  border-bottom: 1px solid #eee;
}

.container_la {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.logo-text h2 {
  font-size: 18px;
  font-weight: 700;
  color: #222;
}

.logo-text span {
  font-size: 12px;
  color: #777;
}

.menu-btn {
  background: none;
  border: none;
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
}

/* Nav Links */
.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links ul li a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links ul li a:hover {
  color: #ff7d00;
}

/* Phone */
.phone {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #333;
}

.phone i {
  color: #000;
}

/* --- BOTTOM HEADER --- */
.header-bottom {
  background: #fff;
  padding: 12px 20px;
}

.bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
}

/* Search Box */
.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #d8e3d6;
  border-radius: 4px;
  overflow: hidden;
  flex: 1;
  max-width: 500px;
  margin-left: 50px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 8px 10px;
  flex: 1;
  font-size: 14px;
}

.search-box select {
  border: none;
  outline: none;
  background: #fff;
  padding: 8px 10px;
  border-left: 1px solid #d8e3d6;
}

.search-box button {
  background: #222;
  border: none;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer;
}

.search-box button:hover {
  background: #000;
}
